<h1>Quiz</h1>
<div>
  <strong> Name: </strong>
<%= @quiz.name %>
</div><br>

<%= form_for @trait, url: {action: "createtrait" } do |f| %>
<% @questions.each do |q| %>
    <%=f.label :question, q.content %> 
    <% q.answers.each do |a| %>
    <% if a == q.answers.last %>
    <%= f.radio_button :name => q.id, :action => 'check', :value => a.option_value, :name => 'quiz_results', :onclick => "this.form.submit();" %>

    <%= a.content.humanize %><br><br>
    <% else %> 
     <%= f.radio_button :name => q.id, :action => 'check', :value => a.option_value %>

    <%= a.content.humanize %><br><br>


    <% end %>
    <% end %>
    <% end %>
    <% end %>
    
  
<div>
    <%= link_to "Edit", edit_quiz_path(@quiz) %> |  
    <%= link_to "Destroy", @quiz, :confirm => 'Are you sure?', :method => :delete %> |  
    <%= link_to "Quizzes Page", quizzes_path %>  
</div>


 


