<h1>Quiz</h1>
<div>
  <strong> Name: </strong>
<%= @quiz.name %>
</div><br>


<%= form_for :quiz, :url => { :action => "create" } do |f| %>
<% @questions.each do |q| %>
  <%=f.label :question, q.content %> 
    <% q.answers.each do |a| %>
    <%= f.radio_button :id, a.option_value %><%= a.content %><br><br>
    <% end %>
    <% end %>
     <div class="actions">
        <%= f.submit "Submit", :name => 'quiz_results' %>
      </div>
    <% end %>

<% if params[:quiz_results] %>
<div id = "quizresults">
  <h2>It works</h2>
</div>
<% end %>
 


<div>
    <%= link_to "Edit", edit_quiz_path(@quiz) %> |  
    <%= link_to "Destroy", @quiz, :confirm => 'Are you sure?', :method => :delete %> |  
    <%= link_to "Quizzes Page", quizzes_path %>  
</div>