<h1>Quiz</h1>
<div>
  <strong> Name: </strong>
<%= @quiz.name %>
</div>

<ol>
  <% @questions.each do |q| %>
    <li><%= q.content %></li>
  <% end %>
</ol>

<div>
  <%= link_to "Edit", edit_quiz_path(@quiz) %> |  
  <%= link_to "Destroy", @quiz, :confirm => 'Are you sure?', :method => :delete %> |  
  <%= link_to "View All", quizzes_path %>  
</div>